.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: #59a585;
}
.list {
  display: flex;
}
img {
  height: 100%;
  border-radius: 50%;
}