<div class="footer-upper-container">
  <div class="footer-upper-div1">
    <div class="logo-container">
      <img src="./assets/logo/logowotxt.png" alt="logo du site" />
    </div>
    <!-- <div>
      <p>Céline Moreira</p>
      <p>L'art de la réflexologie plantaire</p>
      <p>practicienne en réflexologie vectorielle, certifiée</p>
      <p>palmaire et plantaire</p>
    </div> -->
  </div>
  <div class="footer-upper-div2">
    <p>
      Céline Moreira, réflexologue près de Bourges.<br />
      Membre de la fédération ERVE-France.<br />
      La réflexologie rétablit de façon naturelle l'équilibre du corps, libère
      du stress et des tensions.<br />
      Cette technique aide le corps à éliminer les toxines, améliore la
      circulation sanguine, aide au sommeil, etc.
    </p>
    <div class="contact-container">
      <div><i class="fa-solid fa-location-dot"></i> Villeneuve | Cher</div>
      <i class="fa-regular fa-envelope"><a class="mailto" href="mailto:cmoreira.lart.reflexologie@gmail.com"> cmoreira.lart.reflexologie@gmail.com</a></i>
      <div><i class="fa-solid fa-phone"></i> 0650923194</div>
    </div>
  </div>
  <div class="footer-upper-div3">
    <p>Suivez-moi</p>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
  </div>
</div>
<div class="footer-bottom-container">
  <!-- alt 0169  pour le C en carac spécial -->
  <p>
    Céline MOREIRA © 2023 Tous droits réservés - réalisation capture
    Communication
  </p>
  <p><a [routerLink]="['/mentions-legales']"> Mentions légales</a> - CGV - Législation</p>
</div>
