<body>
  
<h2>Séances</h2>
<h3>Déroulement d'une séance :</h3>
<p>
  Un pantalon ample est conseillé pour votre confort et celui du réflexologue.
  Nous évoquerons ensemble là où les raison de votre visite pour établir un
  protocole de soin. Vous serez installé confortablement sur une table de
  massage ou dans un fauteuil. Un toucher spécifique sera pratiqué sur les zones
  réflexes de vos pieds.
</p>
<ul>
  <li>phase " active " qui consiste à équilibrer l'organisme.</li>
  <li>
    phase de "drainage" qui permettra d'évacuer les toxines logées dans les
    couches profondes des muscles afin d'aider le corps à se nettoyer.
  </li>
  <li>
    phase de détente avec des gestes doux pour faire retomber les tensions.
  </li>
</ul>
<p>
  Une séance dure entre 30 minutes et une heure suivant les pathologies. Une
  liste des recommandations vous sera remise pour optimiser les effets
  bénéfiques du soin.
</p>
<h3>Nombre de séances :</h3>
<p>
  En fonction de la profondeur du dysfonctionnement, les résultats peuvent être
  immédiat ou nécessiter plusieurs séance. Il est recommandé de suivre le
  protocole de 3 séances espacées d'une semaine à quinze jours suivie d'une
  quatrième un mois après.
</p>
<h3>Tarifs :</h3>
<ul>
  <li>
    séance de réflexologie plantaire (50min)…..…............................40€
  </li>
  <li>
    séance de réflexologie plantaire enfants de 7 à 12 ans (20min).......25€
  </li>
  <li>
    séance de réflexologie plantaire bébé à 7 ans (15 min)
    .....................15€
  </li>
  <li>petit drainage/ détente(30min) .....25€</li>
  <li>forfait protocole de 4 séances...140€</li>
</ul>
<span>Prise en charge par certaine mutuelle, renseignez-vous.</span
><span
  >Une majoration pour les frais de déplacement sera appliquée pour les soins de
  réflexologie réalisés au-delà de 10 kilomètres de mon domicile.
</span>
<h3>Carte cadeaux :</h3>
<p>Envie d'offrir un moment de détente et de relaxation profonde ? Prendre soin de celle et ceux que vous aimez?
  Contactez moi par téléphone ou via le formulaire.
  Vous recevrez votre bon cadeau par mail.</p></body>
  <app-footer></app-footer>