<div class="h1-bg-container">
  <h1>L'art de la réflexologie</h1>
  <div class="group">
    <div
      class="item"
      style="
        background-image: url(assets/massage4.jpeg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydHJhaXR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
      "
    ></div>
    <div
      class="item"
      style="
        background-image: url(assets/massage9.jpeg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydHJhaXR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
      "
    ></div>
    <div
      class="item"
      style="
        background-image: url(assets/massage3.jpeg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cG9ydHJhaXR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
      "
    ></div>
    <div
      class="item"
      style="
        background-image: url(assets/massage2.jpeg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
      "
    ></div>
    <div
      class="item"
      style="
        background-image: url(assets/massage1.jpeg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTN8fHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
      "
    ></div>
  </div>
</div>
<body>
  <h3>A propos</h3>
  <div class="txt-container">
    <p class="first-p">
      la réflexologie vectorielle est une méthode énergétique vitaliste faisant
      appel à la participation active de la personne durant sa séance. Elle
      travaille sur le plan physique, énergétique et psycho-emotionnelle de
      l'individu, pouvant traverser des zones d'inconfort, révélatrices de sont
      état général. La réflexologie est une technique qui ne vise pas au bien
      être mais invite l'organisme à sortir de sa zone de confort libérant ainsi
      une nouvelle énergie destinée à l'auto guérison naturelle propre à chaque
      individu. Le pied est une représentation miniature du corps ou chaque zone
      réflexe est reliée à un organe ou à une glande du corps par
      l'intermédiaire de nombreuses terminaisons nerveuses. Par une digito
      pression spécifique des mains ou des pieds, votre praticien invite votre
      corps à se débarrasser de ses toxines et à se rééquilibrer tout en
      douceur. Vous vous sentirez incroyablement relaxé, allégé et en harmonie.
      Que vous souhaitiez simplement en découvrir les bienfaits ou que vous
      cherchiez à résoudre des dysfonctionnements chroniques, la réflexologie
      vous donne énergie et vitalité.
    </p>
    <div class="txt2-container">
      <p class="second-p">
        Les pieds reflètent la façon dont nous avançons dans la vie. Ils portent
        en eux la mémoire de chacun des pas que nous avons posés, qu'ils furent
        heureux ou malheureux. En Médecine traditionnelle chinoise, la
        réflexologie propose d'agir sur nos émotions en touchant directement
        certaines zones liées à nos organes. Une manière de faire en sorte que
        </p>
        <span>" ce qui ne s'exprime pas, s'imprime dans notre corps".</span>
      
    </div>
  </div>
  <a [routerLink]="['apropos']"
    ><input class="button1" type="button" value="voir plus"
  /></a>

  <h3>Le salon</h3>
  <!-- pour le carousel -->
  <!-- https://www.youtube.com/watch?v=0wvrlOyGlq0&t=443s&ab_channel=CodingSnow -->
  <div class="carousel-iframe">
    <div class="slider">
      <div class="slides">
        <input type="radio" name="radio-btn" id="radio1" />
        <input type="radio" name="radio-btn" id="radio2" />
        <input type="radio" name="radio-btn" id="radio3" />
        <input type="radio" name="radio-btn" id="radio4" />

        <div class="slide first">
          <img src="assets/salon/1.jpeg" alt="le salon en photo" />
        </div>
        <div class="slide">
          <img src="assets/salon/2.jpeg" alt="le salon en photo" />
        </div>
        <div class="slide">
          <img src="assets/salon/3.jpeg" alt="le salon en photo" />
        </div>
        <div class="slide">
          <img src="assets/salon/4.jpeg" alt="le salon en photo" />
        </div>

        <!-- <div class="navigation-auto">
      <div class="auto-bnt1"></div>
      <div class="auto-bnt2"></div>
      <div class="auto-bnt3"></div>
      <div class="auto-bnt4"></div>
    </div> -->
      </div>
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
      </div>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2719.5926042629176!2d2.220811714770804!3d47.02860123572046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47faec0319801b25%3A0xcb74a5bc6a6e1b68!2s5%20Rte%20de%20Saint-Florent%2C%2018400%20Villeneuve-sur-Cher!5e0!3m2!1sfr!2sfr!4v1676737661211!5m2!1sfr!2sfr"
      width="400"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</body>
<app-footer></app-footer>
